# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Poetry
poetry.lock

# Node/Flutter
node_modules/
pubspec.lock
build/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Logs
*.log

# Local env files
backend/.env
.project_pids
backend/.env
admin/.env
mobile/.env
